.menu-item, .menu-open-button {
  background: gray;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: white;
  border: lightgrey 4px solid;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-item-logo {
  width: 50%;
  height: 50%;
}

.menu {
  -webkit-filter: url("#goo");
          filter: url("#goo");
  position: absolute;
  left: 50%;
  width: 150px;
  height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  text-align: left;
  margin-top: 0;
}

.menu-item:hover {
  background: gray;
}

.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.menu-item:nth-child(7) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.menu-item:nth-child(8) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.menu-item:nth-child(9) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.menu-item:nth-child(10) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.menu-item:nth-child(11) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.menu-item:nth-child(12) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
          transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
          transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
          transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
  -webkit-transform: translate3d(-56.57872px, -41.21709px, 0);
          transform: translate3d(-56.57872px, -41.21709px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 280ms;
          transition-duration: 280ms;
  -webkit-transform: translate3d(-2.38602px, -69.95932px, 0);
          transform: translate3d(-2.38602px, -69.95932px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
  -webkit-transition-duration: 380ms;
          transition-duration: 380ms;
  -webkit-transform: translate3d(53.63903px, -44.97615px, 0);
          transform: translate3d(53.63903px, -44.97615px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
  -webkit-transition-duration: 480ms;
          transition-duration: 480ms;
  -webkit-transform: translate3d(68.47188px, 14.54655px, 0);
          transform: translate3d(68.47188px, 14.54655px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(7) {
  -webkit-transition-duration: 580ms;
          transition-duration: 580ms;
  -webkit-transform: translate3d(30.7216px, 62.8982px, 0);
          transform: translate3d(30.7216px, 62.8982px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(8) {
  -webkit-transition-duration: 680ms;
          transition-duration: 680ms;
  -webkit-transform: translate3d(-30.62139px, 62.94705px, 0);
          transform: translate3d(-30.62139px, 62.94705px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(9) {
  -webkit-transition-duration: 780ms;
          transition-duration: 780ms;
  -webkit-transform: translate3d(-68.44862px, 14.65558px, 0);
          transform: translate3d(-68.44862px, 14.65558px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(10) {
  -webkit-transition-duration: 880ms;
          transition-duration: 880ms;
  -webkit-transform: translate3d(-53.7106px, -44.89067px, 0);
          transform: translate3d(-53.7106px, -44.89067px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(11) {
  -webkit-transition-duration: 980ms;
          transition-duration: 980ms;
  -webkit-transform: translate3d(2.27464px, -69.96303px, 0);
          transform: translate3d(2.27464px, -69.96303px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(12) {
  -webkit-transition-duration: 1080ms;
          transition-duration: 1080ms;
  -webkit-transform: translate3d(56.51508px, -41.30663px, 0);
          transform: translate3d(56.51508px, -41.30663px, 0);
}
