@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");
html {
  background-color: #3A3A3C;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10vh;
}

.headerLogo {
  margin-left: 30vw;
  height: 15vh;
}

#notificationBell {
  font-size: 250%;
  margin-left: 7vw;
  color: #ffffff;
  border-color: #707070;
}

.sectionBtn {
  width: 100%;
  height: auto;
  margin-top: 5vh;
}

.btnOne {
  font-size: 250%;
  background-color: white;
  color: black;
  text-decoration: none;
  font-family: Lato;
  margin-left: 25vw;
  padding: 10px;
  padding-left: 10vw;
  padding-right: 10vw;
  border-radius: 30px;
}

.btnTwo {
  font-size: 250%;
  background-color: white;
  color: black;
  text-decoration: none;
  font-family: Lato;
  margin-left: 25vw;
  padding: 10px;
  padding-left: 10vw;
  padding-right: 10vw;
  border-radius: 30px;
}

.btnTwo .socialeAkt .fredagsbarText {
  margin-left: 30vw;
}

.btnTwo .socialeAkt .sesVi {
  margin-top: 20vw;
  font-size: 10vw;
}

.btnTwo .socialeAkt .picture {
  max-width: 100%;
}

#menuCard {
  background: #484242;
  width: 90%;
  margin-left: 5vw;
  margin-right: 5vw;
  border-radius: 2vw;
}

#menuCard div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#menuCard div h2 {
  color: #efefef;
  text-align: center;
  background-color: #2e3d7f;
  padding: 5vw;
  border-radius: 2vw;
  min-width: 70%;
  margin: 3vw;
}
