$globalFont: arial;
$globalSubfont: arial;

$colorBtn: #efefef;
$bg-colorBtn: #efefef;

$blue: #2e3d7f;
$red: #d02e27;
$orange: #d0ba27;
$white: #efefef;



.headerLogo{
    position: fixed;
    top: 0.5%;
    left: 30vw;
    width: 40vw;
    height: 20vh;
}
#notifikationBell{
    font-size: 150%;
    width: 20%;
    
}