@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$globalFont: Lato;
$globalSubfont: arial;

$colorBtn: black;
$bg-colorBtn:  #F2F2F7;

$blue: #2e3d7f;
$red: #d02e27;
$orange: #d0ba27;
$white: #efefef;
$bg-color: #3A3A3C;

html{
    background-color: $bg-color;
}

header{
    width: 100%;
    display: flex;
    margin-bottom: 10vh;
}
.headerLogo{
margin-left: 30vw;
    height: 15vh;
}
#notificationBell{
    font-size: 250%;
    margin-left: 7vw;
    color: #ffffff;
    border-color: #707070;
    
}
.sectionBtn{
    width: 100%;
    height: auto;
    margin-top: 5vh;
}
.btnOne{
    font-size: 250%;
    background-color: $bg-colorBtn;
    color: $colorBtn;
    text-decoration: none;
    font-family: $globalFont;
    margin-left: 25vw;
    padding: 10px;
    padding-left: 10vw;
    padding-right: 10vw;
    border-radius: 10px;

}
.btnTwo{
    font-size: 250%;
    background-color: $bg-colorBtn;
    color: $colorBtn;
    text-decoration: none;
    font-family: $globalFont;
    margin-left: 25vw;
    padding: 10px;
    padding-left: 10vw;
    padding-right: 10vw;
    border-radius: 10px;


.socialeAkt{

.fredagsbarText{
    margin-left: 30vw;
}
.sesVi{
    margin-top: 20vw;
    font-size: 10vw;
}
.picture {
    max-width: 100%;
}
}
}