@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
$globalFont: Lato;
$globalSubfont: arial;

$colorBtn: #efefef;
$bg-colorBtn:  #111111;

$colorCards: black;
$bg-colorCards:  #273C92;
$bg-colorCards2:  #484242;

$blue: #273C92;
$red: #d02e27;
$orange: #d0ba27;
$white: #efefef;
$bg-color: #3A3A3C;

html{
    background-color: $bg-color;
    color: $white;
    font-family: $globalFont;
}

header{
    width: 100%;
    display: flex;
    margin-bottom: 10vh;
}
.headerLogo{
margin-left: 13vw;
    height: 26vh;
}
#notificationBell{
    font-size: 250%;
    margin-left: 15vw;
    color: #ffffff;
    border-color: #707070;
    
}
.sectionBtn{
    width: 100%;
    height: auto;
    margin-top: 5vh;
}
.btnOne{
    font-size: 250%;
    background-color: $bg-colorCards;
    color: $colorBtn;
    text-decoration: none;
    font-family: $globalFont;
    margin-left: 25vw;
    padding: 3vh;
    padding-left: 10vw;
    padding-right: 10vw;
    border-radius: 10vh;

}
.btnTwo{
    font-size: 250%;
    background-color: $bg-colorCards;
    color: $colorBtn;
    text-decoration: none;
    font-family: $globalFont;
    margin-left: 25vw;
    padding: 3vh;
    padding-left: 10vw;
    padding-right: 10vw;
    border-radius: 10vh;

}
.grayDividerElevraad{
    height: 0.1vh;
    background-color: gray;
    width: 25%;
    margin-left: 22vw;
    margin-bottom: 5vh;
}
h1{
    text-align: center;

}
.elevraadSection{
        margin: 20vw;
        

        h2{
            text-align: left;
            margin: 0;
            padding-bottom:0.5vh;
            font-weight: 300;
            font-family: 'Lato', sans-serif;

        }
        p{
            font-size: 28px;
            margin: 0;
            padding: 0;
            margin-left: 25vw;
        }
        .blueDividerElevraad{
            height: 0.1vh;
            background-color: $blue;

        }
        .infoSectionElevraad{
            display: grid;
            grid-template-columns: 100%;
            article{
                div{
                    h3{
                      margin: 0;
                      padding-top: 1vh;  
                      padding-bottom: 1vh;
                       
                        
                    }
                    p{
                        font-size: 15px;
                        overflow-wrap: break-word;
                        color: $white;
                        font-style: italic;
                        margin: 0;
                        margin-bottom: 2vh;
                    }
                }
            }
        }
    }
.fredagsbarTitle{
    text-align: center;
    color: $white;
    font-size: 40px;
    padding-bottom: 1vh;
    
}
.fredagsbarText{
    text-align: center;
    color: $white;
    font-size: 31px;
    padding-top: 1vh;
    font-style: italic;
}


.fredagbarSection{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    p{
        margin: 0;
        padding: 0;
        font-size: 31px;
    }

}
#fa-ellipsis{
    margin-top: 3vh;
    font-size: 31px;
    margin-left: 45vw;
    }
.mainSection{
    
display: flex;
justify-content: center;
font-size: 31px;
margin-top: 0;
.socialArtOne{
    margin-right: 3vw;
}    
}
.dividerDiv{
    background-color: #DE2627;
    height: 0.5vh;
}
.tilmeldSection{
    margin-top: 3vh;
    a{
        text-decoration: none;
        color: $white;
        text-align: center;
        
        p{
            background-color: $blue;
            font-size: 40px;
            border-radius: 2vh;
            width: 60%;
            padding: 1vh;
            margin-left: 17vw;

        }
    }
}

.all {
	align-content: center;
	margin: 10vw;
}
hr.roundedOne {
	height: 0.1vh;
	width: 60%;
	background-color: #ddd;
	margin-top: 0;
	margin-bottom: 5vh;
}
hr.roundedTwo {
	height: 0.1vh;
	background-color: #ddd;
}
.gridImg {
	background-color: white;
	border-radius: 3vw;
	padding: 1vw;
}
.underholding_titel {
	color: gainsboro;
	text-align: center;
	font-size: 20px;
}
.single-player {
	color: gainsboro;
	text-align: left;
	font-size: 10px;
    font-weight: 100;
	margin-bottom: 0;
	padding-bottom: 0;
	figcaption {
		color: gainsboro;
		text-align: left;
		font-size: 20px;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}
.multi-player {
	color: gainsboro;
	text-align: left;
	font-size: 10px;
	margin-top: 5vh;
    figcaption {
		color: gainsboro;
		text-align: left;
		font-size: 20px;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 11vw;
}
.grid-item {
	width: auto;
	height: auto;
	margin-top: 3vh;
}

.sectionGuide{
    width: 100%;
    height: auto;
    margin-top: 5vh;
    font-style: italic;

}
.guideOne{
    display: block;
    text-align: center;
    font-size: 25px;
    background-color: $blue;
    color: $colorBtn;
    text-decoration: none;
    font-family: $globalFont;
    margin-left: 15vw;
    margin-right: 15vw;
    padding: 1vh;
    padding-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    border-radius: 10vh;    

}
.guideTwo{
    display: block;
    text-align: center;
    font-size: 25px;
    background-color: $blue;
    color: $colorBtn;
    text-decoration: none;
    font-family: $globalFont;
    margin-top: 5vh;
    margin-left: 15vw;
    margin-right: 15vw;
    padding: 1vh;
    padding-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    border-radius: 10vh;

}
.sectionGuide p{
    font-size: 25px;
}
.socialeAkt{
    h1{
        margin: 0;
    }
    h2{
        margin: 0;
    }
    p{
        margin: 0;
    }
}

.regler-header {
    margin-bottom: 2em;
  }
  .regler-section {
    margin: 1em;
  }

// MENU
#menuCard{
    background: $bg-colorCards2;
    width: 90%;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 2vw;

    div{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;

        h2{
            color: $white;
            text-align: center;
            background-color: #2e3d7f;
            padding: 5vw;
            border-radius: 2vw;
            min-width: 70%;
            margin: 3vw;
        }
    }
}
