$globalFont: arial;
$globalSubfont: arial;

$colorBtn: #efefef;
$bg-colorBtn: #efefef;

$blue: #2e3d7f;
$red: #d02e27;
$orange: #d0ba27;
$white: #efefef;


header{
    width: 100%;
    display: flex;
    margin-bottom: 10vh;
}
.headerLogo{
margin-left: 30vw;
    height: 15vh;
}
#notificationBell{
    font-size: 250%;
    margin-left: 7vw;
    
}
.sectionBtn{
    width: 100%;
    height: auto;
    margin-top: 5vh;
}
.btnOne{
    font-size: 250%;
    background-color: #2e3d7f;
    color: #efefef;
    text-decoration: none;
    font-family: $globalFont;
    margin-left: 25vw;
    padding: 10px;
    padding-left: 10vw;
    padding-right: 10vw;
    border-radius: 10px;

}
.btnTwo{
    font-size: 250%;
    background-color: #2e3d7f;
    color: #efefef;
    text-decoration: none;
    font-family: $globalFont;
    margin-left: 25vw;
    padding: 10px;
    padding-left: 10vw;
    padding-right: 10vw;
    border-radius: 10px;


}